* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #ffffff;
	min-width: 250px;
	min-height: 250px;
}

#page_wrap {
	width: 600px;
	margin: 30px auto;
	text-align: center;
}

#upper_left {
	width: 125px; height: 125px;
	position: absolute;
	top: 0; left: 0;
	background-repeat: no-repeat;
	background-color: red;
}

#upper_right {
	width: 125px; height: 125px;
	position: absolute;
	top: 0;
	right: 0%;
	background-repeat: no-repeat;
	background-color: green;
}

#lower_left {
	width: 125px; height: 125px;
	position: absolute;
	bottom: 0%; left: 0;
	background-repeat: no-repeat;
	background-color: hotpink;
}

#center{
 position: absolute; 
left: 10%; 
top:35%;
margin-left: 225px;
 width: 125px;
 height: 125px;
  background: blue;
   border: 8px ;
 }  
   
#lower_right {
	width: 125px; height: 125px;
	bottom: 0%;
	right: 0%;
	position: absolute;
	background-repeat: no-repeat;
	background-color: purple;
}